<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <title>Gerenciar Credenciais do Instagram</title>
    <link rel="stylesheet" href="/public/css/credentials/styles.css">
    <!-- Certifique-se de que o caminho do CSS está correto -->
</head>

<body>
    <div id="navbar-container"></div>


    <div class="container">
        <div id="sidebar-container"></div>
        <main class="main-content">
            <h1>Gerenciar Credenciais do Instagram</h1>

            <!-- Formulário para adicionar nova credencial -->
            <form id="addCredentialForm">
                <label for="userId">User ID:</label>
                <input type="text" id="userId" name="userId" required>

                <label for="accessToken">Access Token:</label>
                <input type="text" id="accessToken" name="accessToken" required>

                <button type="submit">Adicionar Credencial</button>
            </form>

            <h2>Credenciais Cadastradas</h2>
            <table id="credentialsTable">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>User ID</th>
                        <th>Instagram User ID</th>
                        <th>Status</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- As credenciais serão adicionadas aqui via JavaScript -->
                </tbody>
            </table>
        </main>
    </div>
    <div id="confirmationModal" class="modal">
        <div class="modal-content">
            <h3>Confirmar Remoção</h3>
            <p>Você tem certeza que deseja remover esta credencial?</p>
            <button id="confirmBtn" class="btn-confirm">Confirmar</button>
            <button id="cancelBtn" class="btn-cancel">Cancelar</button>
        </div>
    </div>

    <script src="/public/js/credentialsManager/instagram.js"></script> <!-- O script para gerenciar as credenciais -->
    <script src="/public/js/menu/loadComponents.js"></script>
    <script>
        loadComponent('#navbar-container', '/components/menu/navbar.html', '/public/css/menu/navbar.css', '/public/js/menu/navbar.js');
        loadComponent('#sidebar-container', '/components/menu/sidebar.html', '/public/css/menu/sidebar.css', '/public/js/menu/sidebar.js');
    </script>
</body>

</html>